.icon-48-agendas {
      background-image: url(../images/l_agendas.png);
      padding-left:60px!important;
}

.icon-48-agenda {
      background-image: url(../images/l_agendas.png);
      padding-left:60px!important;
}

