.icon-48-solicitantes {
    background-image: url(../images/l_solicitantes.png);
    padding-left: 60px !important;
}

.icon-48-solicitante {
    background-image: url(../images/l_solicitantes.png);
    padding-left: 60px !important;
}

.color-box-solicitantes {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.icon-48-solicitacoes {
    background-image: url(../images/l_solicitacoes.png);
    padding-left: 60px !important;
}

.icon-48-solicitacao {
    background-image: url(../images/l_solicitacoes.png);
    padding-left: 60px !important;
}

.color-box-solicitacoes {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.icon-48-solicitacoestipos {
    background-image: url(../images/l_solicitacoestipos.png);
    padding-left: 60px !important;
}

.icon-48-solicitacaotipo {
    background-image: url(../images/l_solicitacoestipos.png);
    padding-left: 60px !important;
}

.color-box-solicitacoestipos {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.icon-48-solicitacoesstatus {
    background-image: url(../images/l_solicitacoesstatus.png);
    padding-left: 60px !important;
}

.icon-48-solicitacaostatus {
    background-image: url(../images/l_solicitacoesstatus.png);
    padding-left: 60px !important;
}

.color-box-solicitacoesstatus {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.icon-48-solicitacoesinteracoes {
    background-image: url(../images/l_solicitacoesinteracoes.png);
    padding-left: 60px !important;
}

.icon-48-solicitacaointeracao {
    background-image: url(../images/l_solicitacoesinteracoes.png);
    padding-left: 60px !important;
}

.color-box-solicitacoesinteracoes {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.icon-48-diretorias {
    background-image: url(../images/l_diretorias.png);
    padding-left: 60px !important;
}

.icon-48-diretoria {
    background-image: url(../images/l_diretorias.png);
    padding-left: 60px !important;
}

.color-box-diretorias {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.icon-48-solicitacoeslogs {
    background-image: url(../images/l_solicitacoeslogs.png);
    padding-left: 60px !important;
}

.icon-48-solicitacaolog {
    background-image: url(../images/l_solicitacoeslogs.png);
    padding-left: 60px !important;
}

.color-box-solicitacoeslogs {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.icon-48-comentarios {
    background-image: url(../images/l_comentarios.png);
    padding-left: 60px !important;
}

.icon-48-comentario {
    background-image: url(../images/l_comentarios.png);
    padding-left: 60px !important;
}

.color-box-comentarios {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.other-filters {
    padding: 0 14px;
}