
/* Form */
.com-ouvidoria .front-end-edit .btn i{
    padding-right: 0.4em;
}
.com-ouvidoria .front-end-edit .btn-success {
    background-color: #449d44 !important;
    color: #FFF;
}

.com-ouvidoria .front-end-edit .btn-success:hover {
    background-color: #398439 !important;
}

.com-ouvidoria .front-end-edit .btn-success span {
    color: #FFF !important;
    background-color: transparent !important;
}

.com-ouvidoria .front-end-edit .btn-info {
    background-color: #46b8da !important;
}

.com-ouvidoria .front-end-edit .btn-info span {
    color: #FFF !important;
    background-color: transparent !important;
}

.com-ouvidoria .front-end-edit .btn-info:hover {
    background-color: #269abc !important;
}

.com-ouvidoria .front-end-edit .btn-danger {
    background-color: #d43f3a !important;
}

.com-ouvidoria .front-end-edit .btn-danger:hover {
    background-color: #ac2925 !important;
}

.com-ouvidoria .front-end-edit .nav.btn-group {
    margin-bottom: 2em;
    display: block;
}
.com-ouvidoria .front-end-edit .nav.btn-group li{
    float: left;
    margin-right: 1em;
}
.com-ouvidoria .front-end-edit .nav.btn-group li a{
    padding: 6px 12px;
}
@media screen and (max-width: 767px) {
    .com-ouvidoria .front-end-edit .nav.btn-group li{
        float: none !important;
        margin: 0 auto 1em auto;
        max-width: 300px;
    }
    .com-ouvidoria .front-end-edit .nav.btn-group li a{
        float: none !important;
    }
    .com-ouvidoria .front-end-edit .btn{
        padding: 8px 16px !important;
    }
}
.com-ouvidoria .front-end-edit .nav > li > a:hover,
.com-ouvidoria .front-end-edit .nav > li > a:focus {
    background: #333744;
    color: #fff;
}
.com-ouvidoria .front-end-edit .panel {
    border: medium none;
    border-radius: 0;
}
.com-ouvidoria .front-end-edit .panel .panel-heading {
    background: #fff;
    border-top: 3px solid #ffcc00;
}
.com-ouvidoria .front-end-edit .panel .panel-body {
    background: #fafafa;
}
.com-ouvidoria .front-end-edit .panel .panel-body.chamado-form {
    background: rgba(255, 255, 204, 0.5);
}
.com-ouvidoria .front-end-edit .form-validate .tip {
    margin-top: 0.5em;
    line-height: 1.1em;
}
.com-ouvidoria .front-end-edit .form-validate small.tip {
    font-size: 0.8em;
    border-bottom: 1px dotted #ccc;
    display: block;
    margin-bottom: 1em;
    padding-bottom: 0.4em;
}
.com-ouvidoria .front-end-edit .form-validate .disabled input,
.com-ouvidoria .front-end-edit .form-validate .disabled .chzn-single {
    cursor: not-allowed !important;
    opacity: 1 !important;
    background-color: #EEEEEE !important;
}
.com-ouvidoria .front-end-edit label {
    font-weight: bold;
}
.com-ouvidoria .front-end-edit .form-validate input,
.com-ouvidoria .front-end-edit .form-validate textarea,
.com-ouvidoria .front-end-edit .form-validate .input-group-addon{
    box-shadow: none;
    width: 100%;
}
.com-ouvidoria .front-end-edit .form-validate textarea {
    height: 4em;
}

.com-ouvidoria .front-end-edit .form-validate input,
.com-ouvidoria .front-end-edit .form-validate textarea,
.com-ouvidoria .front-end-edit .form-validate .input-group-addon {
    border-radius: 0 !important;
}
.com-ouvidoria .front-end-edit .form-validate .controls > input {
    height: 36px;
}
.com-ouvidoria .front-end-edit .form-validate .chzn-container-single .chzn-single,
.com-ouvidoria.view-solicitacoes .chzn-container-single .chzn-single {
    background: #fff;
}
.com-ouvidoria .front-end-edit .form-validate .js-stools .chzn-container
.com-ouvidoria.view-solicitacoes .js-stools .chzn-container {
    width: auto !important;
}
.com-ouvidoria .front-end-edit .form-validate .chzn-container .chzn-single,
.com-ouvidoria.view-solicitacoes .chzn-container .chzn-single {
    border-radius: 0;
    box-shadow: none;
    line-height: 32px;
    height: 36px;
}
.com-ouvidoria .front-end-edit .form-validate .chzn-container .chzn-single b,
.com-ouvidoria.view-solicitacoes .chzn-container .chzn-single b{
    position: relative;
    top: 15%;
}
.com-ouvidoria .front-end-edit .form-validate fieldset.btn-group-yesno {
    margin: 0;
    padding: 0;
}
.com-ouvidoria .front-end-edit .form-validate fieldset.btn-group-yesno .btn{
    border-radius: 0;
    width: 56px;
}
.com-ouvidoria .front-end-edit input[type="file"] {
    height: 32px !important;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
}
.com-ouvidoria .front-end-edit #jform_amatra-lbl .star {
    display: none;
}
/* Solicitacoes */
.com-ouvidoria.view-solicitacoes hr {
    border-color: #ccc;
}
.com-ouvidoria.view-solicitacoes .panel {
    border-radius: 0;
    border-top: 3px solid #ffcc00;
}
.com-ouvidoria.view-solicitacoes .table-responsive .table  th {
    padding: 0.8em;
    line-height: 1em;
}
.com-ouvidoria.view-solicitacoes .table-responsive .table tr td{
    position: relative;
    padding: 0;
}
.com-ouvidoria.view-solicitacoes .table-responsive .table tr td a {
    display: block;
    padding: 0.8em;
}
.com-ouvidoria.view-solicitacoes .table-responsive .table tbody tr:hover,
.com-ouvidoria.view-solicitacoes .table-responsive .table tbody tr:focus {
    background: rgba(255, 255, 204, 0.2);
}
.com-ouvidoria.view-solicitacoes .pagination-list.pagination-list-toolbar {
    margin: 0;
}
.com-ouvidoria.view-solicitacoes .field-calendar .input-append {
    margin: 0;
}
.com-ouvidoria.view-solicitacoes .field-calendar input {
    background: #fff none repeat scroll 0 0;
    border-color: #ccc;
    border-radius: 0;
    height: 36px;
}
.com-ouvidoria.view-solicitacoes .field-calendar button {
    background: #ddd;
    border-radius: 0;
    padding: 7px 8px 5px 10px;
    border: 1px solid #ccc;
    height: 36px;
}
.com-ouvidoria.view-solicitacoes .js-stools-container-filters {
    margin: 1.6em 0 0;
}
.com-ouvidoria.view-solicitacoes .js-stools-container-filters .control-group {
    margin: 0;
}
/* Comentarios */
.com-ouvidoria.view-comentarios .comentario .navbar,
.com-ouvidoria.view-solicitacoes .comentario_footer.navbar {
    background: #fff;
    border-left: none;
    border-radius: 0;
    border-right: none;
    position: relative;
    margin-bottom: 0;
}
.com-ouvidoria.view-comentarios .comentario .navbar .btn,
.com-ouvidoria.view-solicitacoes .comentario_footer.navbar .btn {
    border-radius: 0;
}
.com-ouvidoria.view-comentarios .comentario .navbar .btn:hover,
.com-ouvidoria.view-comentarios .comentario .navbar .btn:focus,
.com-ouvidoria.view-solicitacoes .comentario_footer.navbar .btn:hover,
.com-ouvidoria.view-solicitacoes .comentario_footer.navbar .btn:focus,
.com-ouvidoria.view-solicitacoes ul.pagination-list li.active > span,
.com-ouvidoria.view-solicitacoes ul.pagination-list li > a:hover,
.com-ouvidoria.view-solicitacoes ul.pagination-list li > a:focus {
    background-color: #ffcc01;
    color: #000;
}
.com-ouvidoria.view-comentarios .comentario_header .navbar {
    border-bottom: 4px solid #ffcc01;
}
.com-ouvidoria.view-comentarios .comentario_footer.navbar,
.com-ouvidoria.view-solicitacoes .comentario_footer.navbar  {
    border-top: 4px solid #ffcc01;
    margin-top: 3em;
}
.com-ouvidoria.view-comentarios .comentario_footer.navbar .navbar-brand {
    height: 52px;
}
.com-ouvidoria.view-comentarios .comentario_footer.navbar .navbar-right .btn {
    border-left: 1px solid #ccc;
}
.com-ouvidoria.view-comentarios .comentario .navbar:after {
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    content: "";
    display: block;
    left: 1em;
    position: absolute;
}
.com-ouvidoria.view-comentarios .comentario_header .navbar:after {
    border-top: 1em solid #ffcc01;
    bottom: -1em;
}
.com-ouvidoria.view-comentarios .comentario_footer.navbar:after {
    border-bottom: 1em solid #ffcc01;
    top: -1em;
}
.com-ouvidoria.view-comentarios .comentario-edit #toggle-comment {
    display: block !important;
    height: auto !important;
    visibility: visible;
}
.com-ouvidoria.view-comentarios .list-group-item {
    border-radius: 0 1em 1em 1em;
    margin-bottom: 2em;
    border: 1px solid #ddd;
    position: relative;
    margin-right: 5%;
    box-shadow: 1px 1px 3px #ccc;
}
.com-ouvidoria.view-comentarios .list-group-item:before {
    content: "";
    border-bottom: 1.2em solid #fff;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    position: absolute;
    top: -5px;
    left: -9px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    z-index: 2;
}
.com-ouvidoria.view-comentarios .list-group-item:after {
    content: "";
    border-bottom: 1.2em solid #ddd;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    top: -7px;
    left: -11px;
    position: absolute;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    z-index: 1;
}
.com-ouvidoria.view-comentarios .list-group .user-item {
    margin-right: 0;
    margin-left: 5%;
}
.com-ouvidoria.view-comentarios .list-group-item.user-item {
    background: #ffc;
    border-radius: 1em 0 1em 1em;
}
.com-ouvidoria.view-comentarios .list-group-item-status {
    font-size: 1.2em;
    padding: 0 0 1em 0;
}
.com-ouvidoria.view-comentarios .list-group-item.user-item:before {
    left: auto;
    right: -9px;
    transform: rotate(45deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-bottom-color: #ffc;
}
.com-ouvidoria.view-comentarios .list-group-item.user-item:after {
    left: auto;
    right: -11px;
     transform: rotate(45deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.com-ouvidoria.view-comentarios .list-group-item.consulta {
    border-radius: 0;
    background: #fafafa;
    border: 2px solid #aaa;
}
.com-ouvidoria.view-comentarios .list-group-item.consulta:before {
    border-bottom-color: #fafafa;
}
.com-ouvidoria.view-comentarios .list-group-item.consulta:after {
    border-bottom-color: #aaa;
}
.com-ouvidoria.view-comentarios .list-group-item.consulta {
    margin-left: 8%;
    margin-right: 0;
}
.com-ouvidoria.view-comentarios .list-group-item.consulta.user-item {
    margin-left: 10%;
    background: #fefefe;
}
.com-ouvidoria.view-comentarios .list-group-item.consulta.user-item:before {
    border-bottom-color: #fefefe;
}
.com-ouvidoria.view-comentarios .comment-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
}
.com-ouvidoria.view-comentarios .comment-header h5 {
    margin-top: 1.2em;
    margin-bottom: 0;
}
.com-ouvidoria.view-comentarios .comment-header time {
    color: #999;
    padding: 0.5em;
    position: absolute;
    right: 1em;
    top: 0;
}
.com-ouvidoria.view-comentarios .list-group-item p {
    line-height: 1.2em;
    margin-top: 10px;
}
.com-ouvidoria.view-comentarios .comment-footer {
    border-top: 1px solid #ccc;
    margin-top: 0.5em;
}
.com-ouvidoria.view-comentarios .comment-footer .btn {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.com-ouvidoria.view-comentarios .comentario-edit form {
    background: #fff;
    border-left: 4px solid #ffcc01;
    padding: 1em;
    position: relative;
}
.com-ouvidoria.view-comentarios .comentario-edit.affix {
    top: 1em;
    width: 25.8em;
}
.com-ouvidoria.view-comentarios .nocomment .comentario-edit {
    top: auto !important;
    width: 100% !important;
    position: relative !important;
}
.com-ouvidoria.view-comentarios .comentario-edit form:before {
    border-bottom: 1em solid transparent;
    border-right: 1.3em solid #ffcc01;
    border-top: 1em solid transparent;
    content: "";
    left: -1.4em;
    position: absolute;
}
.com-ouvidoria.view-comentarios .comentario-edit form textarea {
    border-radius: 0;
    box-shadow: none;
}
.com-ouvidoria.view-comentarios .comentario .navbar .nav > li > span {
    height: 100%;
    display: inline-block;
    line-height: 20px;
    padding: 6px 15px;
}
.com-ouvidoria.view-comentarios .comentario .navbar .nav > li > span small {
    display: block;
}
.com-ouvidoria.view-comentarios .comentario .comentario_header-others {
    background: #fafafa;
    box-shadow: 0px 1px 2px #aaa;
    padding: 1.2em;
}
.com-ouvidoria.view-comentarios .comentario .comentario_content {
    margin-top: 3em;
}
.com-ouvidoria.view-comentarios .comentario .comentario_header-others dl {
    margin: 0;
}
.com-ouvidoria.view-comentarios .comentario .comentario_header-others dl dt,
.com-ouvidoria.view-comentarios .comentario .comentario_header-others dl dd {
    display: inline-block;
}
.com-ouvidoria.view-comentarios .comentario .comentario_header-others dl + dl {
    margin-top: 0.2em !important;
}

/* Alert Modais */
.swal2-modal.ouvidoria-alert {
    border-radius: 0;
    font-family: Lato,sans-serif;
}

.swal2-modal.ouvidoria-alert .swal2-buttonswrapper {
    margin-top: 2em;
}

.swal2-modal.ouvidoria-alert .btn {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1em;
    min-width: 20%;
    padding: 8px 16px;
}

/* Paginacao */

.com-ouvidoria.view-solicitacoes .pagination {
    margin: 0;
    display: block;
    height: 50px;
}
.com-ouvidoria.view-solicitacoes .limit {
    border-left: 1px solid #ccc;
    padding-left: 0.6em;
}
.com-ouvidoria.view-solicitacoes .limit #limit_chzn {
    width: 5em !important;
    padding: 0.5em 0;
}
.com-ouvidoria.view-solicitacoes ul.pagination-list {
    display: inline-block;
}
.com-ouvidoria.view-solicitacoes ul.pagination-list li {
    float: left;
    list-style: none;
}
.com-ouvidoria.view-solicitacoes ul.pagination-list li > span, .com-ouvidoria.view-solicitacoes ul.pagination-list li > a {
    display: block;
    padding: 0.9em 0;
    border-left: 1px solid #ccc;
    width: 38px;
    text-align: center;
}
.com-ouvidoria.view-solicitacoes ul.pagination-list li > a {
    background-color: #fcf8e3;
}